<launch>
    <arg name="db" default="true" />
    <arg name="robot" default="$(env DEFAULT_ROBOT_TYPE)"/>
    <!-- Allow user to specify database location -->
    <arg name="db_path" default="$(eval find(arg('robot') + '_moveit_config') + '/moveit_state_server_storage/default_database_storage')"/>
    <!-- If database loading was enabled, start mongodb as well -->
    <include file="$(dirname)/default_warehouse_db.launch" if="$(arg db)">
        <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
    </include>
</launch>