<?xml version="1.0"?>
<launch>
    <!-- Specify the config files to use -->
    <arg name="robot" default="$(env DEFAULT_ROBOT_TYPE)"/>
    <arg name="hostname" default="localhost"/>
    <arg name="port" default="33289"/>
    <arg name="database_instead_of_filestorage" default="true"/>
    <arg name="launch_database" default="true"/>
    <arg name="use_move_group_for_moving_robot" default="true"/>

    <param name="moveit_state_server/planning_group" value="arm_group"/>
    <param name="moveit_state_server/pose_reference_frame" value="world"/>
    <param name="moveit_state_server/hostname" value="$(arg hostname)"/>
    <param name="moveit_state_server/port" value="$(arg port)"/>
    <param name="moveit_state_server/robot_name" value="$(arg robot)"/>
    <param name="moveit_state_server/folder_path" value="$(eval find(arg('robot') + '_moveit_config') + '/moveit_state_server_storage/default_file_storage')"/>
    <param name="moveit_state_server/use_database" value="$(arg database_instead_of_filestorage)"/> <!-- database vs file storage -->
    <param name="moveit_state_server/use_move_group_for_moving_robot" value="$(arg use_move_group_for_moving_robot)"/> <!-- database vs file storage -->

    <!-- launch database if launch_database and  database_instead_of_filestorage true-->
    <!-- mongo must be installed see Readme -->
    <group if="$(arg database_instead_of_filestorage)">
        <include file="$(find moveit_state_server)/launch/database.launch" if="$(arg launch_database)"/>
    </group>
    <!-- specify the config files to use-->
    <rosparam ns="moveit_state_server" command="load" file="$(find moveit_state_server)/config/moveit_cpp.yaml" />

    <!-- planning pipeline in moveit_state_server namespace-->
    <include ns="/moveit_state_server/ompl" file="$(eval find(arg('robot') + '_moveit_config') + '/launch/ompl_planning_pipeline.launch.xml')"/>

    <!-- trajectory execution in moveit_state_server namespace-->
    <include ns="moveit_state_server" file="$(eval find(arg('robot') + '_moveit_config') + '/launch/trajectory_execution.launch.xml')">
    </include>

    <!-- load the URDF, SRDF and other .yaml configuration files on the param server -->
   <!--  <include file="$(eval find(arg('robot') + '_moveit_config') + '/launch/planning_context.launch')">
        <arg name="load_robot_description" value="true"/>
    </include>-->
    
    <node name="moveit_state_server" pkg="moveit_state_server" type="moveit_state_server" respawn="true" output="screen"/>

</launch>