<?xml version="1.0"?>
<launch>
    <!-- Specify the config files to use -->
    <arg name="robot" default="$(env DEFAULT_ROBOT_TYPE)"/>
    <arg name="hostname" default="localhost"/>
    <arg name="port" default="33289"/>


    <param name="moveit_state_server/planning_group" value="arm_group"/>
    <param name="moveit_state_server/pose_reference_frame" value="world"/>
    <param name="moveit_state_server/hostname" value="$(arg hostname)"/>
    <param name="moveit_state_server/port" value="$(arg port)"/>
    <param name="moveit_state_server/robot_name" value="$(arg robot)"/>
    <!-- specify the config files to use -->
    <rosparam ns="moveit_state_server" command="load" file="$(find moveit_state_server)/config/moveit_cpp.yaml" />

    <!-- planning pipeline -->
    <include ns="/moveit_state_server/ompl" file="$(eval find(arg('robot') + '_moveit_config') + '/launch/ompl_planning_pipeline.launch.xml')"/>

    <!-- trajectory execution  -->
    <include ns="moveit_state_server" file="$(eval find(arg('robot') + '_moveit_config') + '/launch/trajectory_execution.launch.xml')">
      <!--<arg name="moveit_controller_manager" value="fake"/>-->
    </include>

    <!-- load the URDF, SRDF and other .yaml configuration files on the param server -->
    <include file="$(eval find(arg('robot') + '_moveit_config') + '/launch/planning_context.launch')">
        <arg name="load_robot_description" value="true"/>
    </include>
    
    <node name="moveit_state_server" pkg="moveit_state_server" type="moveit_state_server" respawn="false" output="screen"/>

</launch>